[submodule "modules/jgit"]
	path = modules/jgit
	url = ../jgit

[submodule "plugins/codemirror-editor"]
	path = plugins/codemirror-editor
	url = ../plugins/codemirror-editor
	branch = .

[submodule "plugins/commit-message-length-validator"]
	path = plugins/commit-message-length-validator
	url = ../plugins/commit-message-length-validator
	branch = .

[submodule "plugins/delete-project"]
	path = plugins/delete-project
	url = ../plugins/delete-project
	branch = .

[submodule "plugins/download-commands"]
	path = plugins/download-commands
	url = ../plugins/download-commands
	branch = .

[submodule "plugins/gitiles"]
	path = plugins/gitiles
	url = ../plugins/gitiles
	branch = .

[submodule "plugins/hooks"]
	path = plugins/hooks
	url = ../plugins/hooks
	branch = .

[submodule "plugins/plugin-manager"]
	path = plugins/plugin-manager
	url = ../plugins/plugin-manager
	branch = .

[submodule "plugins/replication"]
	path = plugins/replication
	url = ../plugins/replication
	branch = .

[submodule "plugins/reviewnotes"]
	path = plugins/reviewnotes
	url = ../plugins/reviewnotes
	branch = .

[submodule "plugins/singleusergroup"]
	path = plugins/singleusergroup
	url = ../plugins/singleusergroup
	branch = .

[submodule "plugins/webhooks"]
	path = plugins/webhooks
	url = ../plugins/webhooks
	branch = .

[submodule "polymer-bridges"]
	path = polymer-bridges
	url = ../polymer-bridges
	branch = .

# Wikimedia installation plugins
[submodule "plugins/go-import"]
	path = plugins/go-import
	url = https://gerrit.googlesource.com/plugins/go-import
	branch = stable-3.3
[submodule "plugins/healthcheck"]
	path = plugins/healthcheck
	url = https://gerrit.googlesource.com/plugins/healthcheck
	branch = stable-3.3
[submodule "plugins/its-phabricator"]
	path = plugins/its-phabricator
	url = https://gerrit.googlesource.com/plugins/its-phabricator
  # no stable-3.3 as of 2021-07-21
	branch = master
[submodule "plugins/javamelody"]
	path = plugins/javamelody
	url = https://gerrit.googlesource.com/plugins/javamelody
  # no stable-3.3 as of 2021-07-21
	branch = master
[submodule "plugins/lfs"]
	path = plugins/lfs
	url = https://gerrit.googlesource.com/plugins/lfs
  # no stable-3.3 as of 2021-07-21
	branch = master
[submodule "plugins/metrics-reporter-jmx"]
	path = plugins/metrics-reporter-jmx
	url = https://gerrit.googlesource.com/plugins/metrics-reporter-jmx
[submodule "plugins/metrics-reporter-prometheus"]
	path = plugins/metrics-reporter-prometheus
	url = https://gerrit.googlesource.com/plugins/metrics-reporter-prometheus
[submodule "plugins/motd"]
	path = plugins/motd
	url = https://gerrit.googlesource.com/plugins/motd
[submodule "plugins/reviewers"]
	path = plugins/reviewers
	url = https://gerrit.googlesource.com/plugins/reviewers
	branch = stable-3.3
# Forked since Christian work is only in upstream stable-3.2
[submodule "plugins/zuul"]
	path = plugins/zuul
	url = https://gerrit.wikimedia.org/r/operations/software/gerrit/plugins/zuul.git
  branch = wmf/stable-3.3
[submodule "plugins/its-base"]
	path = plugins/its-base
	url = https://gerrit.googlesource.com/plugins/its-base
  # no stable-3.3 as of 2021-07-21
	branch = master
